pkgbase = pkl
	pkgdesc = A configuration as code language with rich validation and tooling.
	pkgver = 0.25.3
	pkgrel = 1
	url = https://pkl-lang.org
	changelog = CHANGELOG
	arch = x86_64
	license = Apache
	makedepends = jdk-openjdk
	makedepends = git
	source = https://github.com/apple/pkl/archive/refs/tags/0.25.3.tar.gz
	b2sums = b9a005631315527315d77c79d0801aaba2c687e512a8c1c0dc9891fca48e0e353b4693bd82d44f10f16956d806015da89c86696c791cf3c5fd39c2ca5f3afe22

pkgname = pkl
