pkgbase = pkl
	pkgdesc = A configuration as code language with rich validation and tooling.
	pkgver = 0.26.2
	pkgrel = 1
	url = https://pkl-lang.org
	changelog = CHANGELOG
	arch = x86_64
	license = Apache
	makedepends = jdk-openjdk
	makedepends = git
	depends = glibc
	depends = zlib
	source = https://github.com/apple/pkl/archive/refs/tags/0.26.2.tar.gz
	b2sums = 8c1d5609cc99897af0a4a6d3eab1c2416f1c5c6e89263eac793b8aef146b43ec16b10c0f846ed08bfcea80b8d1c319558aa7c582f74021b1cb05dd1093cce54b

pkgname = pkl
