pkgbase = pkl
	pkgdesc = A configuration as code language with rich validation and tooling.
	pkgver = 0.26.3
	pkgrel = 1
	url = https://pkl-lang.org
	changelog = CHANGELOG
	arch = x86_64
	license = Apache
	makedepends = jdk-openjdk
	makedepends = git
	depends = glibc
	depends = zlib
	source = https://github.com/apple/pkl/archive/refs/tags/0.26.3.tar.gz
	b2sums = 41aee54b5d39a7c01ba7bf7944132b92a6e239660959ecb65058d57f350a7852c3e914d80fe338e85354feb2ec59c05b66646c653e8599a76ed2e014e79087d9

pkgname = pkl
